<i class="close icon"></i>

<div class="header">Change the password</div>

<div class="content">
  <div class="haigy-padding-lr-25px">
    <form id="user-m-edit-form" class="ui form">
      <div class="field">
        <label>New Password</label>
        <input name="new_password" type="password" placeholder="new password">
      </div>
      <div class="field">
        <label>Repeat New Password</label>
        <input name="repeat_new_password" type="password" placeholder="repeat new password">
      </div>
      <br>
      <div class="field">
        <label>Current Password</label>
        <input name="current_password" type="password" placeholder="current password">
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>

<div class="actions">
  <div class="ui horizontally padded grid">
    <div class="eight wide column">
      <button id="user-m-edit-cancel" class="ui negative button">Cancel</button>
    </div>
    <div class="eight wide column">
      <button id="user-m-edit-submit" class="ui positive fluid button">Save</button>
    </div>
  </div>
</div>