<div class="ui two column centered stackable grid">

  <div class="column">

    <h2 class="ui header">Recover Password</h2>

    <br>

    <div id="user-recoverpassword-form-container">
      <form id="user-recoverpassword-form" class="ui form">
        <div class="required field">
          <label>Email you use to sign in to Haigy</label>
          <input type="email" name="email" placeholder="Email">
        </div>
        <br>

        <div class="fields">
          <div class="eleven wide field">
            <button class="ui primary fluid button" type="submit">Recover Password</button>
          </div>
          <div class="five wide field">
            <button id="user-recoverpassword-cancel" class="ui basic fluid button" type="button">Cancel</button>
          </div>
        </div>

        <div class="field">
          <div class="ui error message"></div>
        </div>
      </form>
    </div>

    <div id="user-recoverpassword-success-message-container" class="haigy-display-none"></div>

    <br><br>

  </div>

</div>
