@import 'haigy/theme';


.haigy-font-bold {
  font-weight: bold;
}


.haigy-font-large {
  font-size: large;
}


.haigy-font-color-warning {
  color: $haigy-color-red;
}


.haigy-font-color-notice {
  color: $haigy-color-orange;
}


.haigy-font-color-red {
  color: $haigy-color-red;
}


.haigy-font-color-purple {
  color: $haigy-color-purple;
}


.haigy-font-color-blue {
  color: $haigy-color-blue;
}


.haigy-font-color-gray {
  color: $haigy-color-gray;
}


.haigy-font-color-wholefoods-green {
  color: $haigy-color-wholefoods-green;
}