<div class="ui piled segment haigy-text-align-center"><i>
  <div class="haigy-padding-tb-2px">Busy? Tired? No time for grocery shopping?</div>
  <div class="haigy-padding-tb-2px">Try <strong class="haigy-font-color-purple">Haigy.com</strong></div>
  <div class="haigy-padding-tb-2px">Fruits, veggies, snacks and more</div>
  <div class="haigy-padding-tb-2px"><strong class="haigy-font-color-blue">Just a few clicks, we'll bring them to you!</strong></div>
  <br>
  <div class="haigy-padding-tb-2px">Haigy just begins beta testing</div>
  <div class="haigy-padding-tb-2px">Free delivery &#160; &#149; &#160; 10% off of all fruits and veggies &#160; &#149; &#160; Rewards for feedbacks</div>
</i></div>

<div class="haigy-width-100-percent haigy-text-align-center">
  <i><strong class="haigy-font-color-red haigy-font-large">Daily Deals </strong> for delivery zip code:</i>
  <span class="ui small icon input haigy-width-max-100px">
    <i id="main-welcome-update-zip-code" class="blue link refresh icon"></i>
    <input id="main-welcome-zip-code-input" type="text" value="<%= zipCode %>" data-zip-code="<%= zipCode %>">
  </span>
</div>
<br>

<div id="main-welcome-marketing-container"></div>

<br><br>