<div class="ui centered grid"><div class="fourteen wide column">
  <br><br>

  <div class="haigy-text-align-center"><span class="haigy-display-inline-block haigy-width-100-percent haigy-width-max-400px">
    <div>Please sign in first to view the order</div>
    <br>
    <button id="order-show-sign-in" class="ui primary fluid button">Sign In</button>
  </span></div>
</div></div>