$haigy-min-width: 319px;


$haigy-color-red: #f25950;

$haigy-color-orange: orange;

$haigy-color-purple: #f0f;

$haigy-color-cyan: #27fae7;

$haigy-color-blue: #20a8fe;

$haigy-color-gray: #666;
$haigy-color-lightgray: #f5f5f5;

$haigy-color-wholefoods-green: #84c22d;
