.haigy-width-100-percent {
  width: 100%;
}


.haigy-width-min-250px {
  min-width: 250px;
}


.haigy-width-max-100px {
  max-width: 100px;
}


.haigy-width-max-400px {
  max-width: 400px;
}


.haigy-width-max-500px {
  max-width: 500px;
}


.haigy-width-max-700px {
  max-width: 700px;
}
