<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Haigy Grocery‎ Delivery - Laid-back and Eat Healthy</title>
  <meta content="Haigy buys groceries for you from local stores. Laid-back and eat healthy. Only $2.99 per delivery, no tips, no any hidden fees, no price markups. No minimum order amount required. FREE DELIVERY ON FIRST 3 ORDERS" name="description">

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<%= yield %>

</body>
</html>
