<div class="ui stackable doubling four column centered grid">
  <div class="column">
    <br>
    <h2>Sign In</h2>
    <br>

    <form id="session-signin-form" class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <br>
      <button id="session-signin-submit-button" class="ui fluid primary button" type="submit">Submit</button>
      <br>
      <div class="ui error message"></div>
    </form>
  </div>
</div>
