<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Haigy.com, <%= @user.nickname %></h1>
    <p>You have successfully signed up.</p>
    <p>Please come to visit <a href="http://haigy.com/" target="_blank">haigy.com</a> to start shopping.</p>
    <p>Thanks for joining and have a great day!</p>
    <br>
    <p>Best,</p>
    <p>Haigy.com</p>
  </body>
</html>