<h3>Successfully Deleted The Store:</h3>
<div><%= store.get("formatted_address") %></div>
<br>
<div>For The Company: <%= store.get("company_name") %></div>
<div><img src="<%= pathToUrlTool(store.get('company_logo_path')) %>" alt="<%= store.get('company_name') %> Logo"></div>