.haigy-font-color-success {
  color: green;
}


.haigy-font-color-warning {
  color: orange;
}


.haigy-font-color-error {
  color: red;
}


.haigy-font-color-magenta {
  color: #f0f;
}

.haigy-font-color-green {
  color: green;
}

.haigy-font-color-orange {
  color: orange;
}