.haigy-padding-l-5px {
  padding-left: 5px;
}


.haigy-padding-l-30px {
  padding-left: 30px;
}


.haigy-padding-r-30px {
  padding-right: 30px;
}


.haigy-padding-lr-30px {
  padding-left: 30px;
  padding-right: 30px;
}


.haigy-padding-b-5px {
  padding-bottom: 5px;
}


.haigy-padding-tb-5px {
  padding-bottom: 5px;
  padding-top: 5px;
}


.haigy-padding-tb-10px {
  padding-bottom: 10px;
  padding-top: 10px;
}


.haigy-padding-tb-20px {
  padding-bottom: 20px;
  padding-top: 20px;
}
