<div>
  <br>

  <a href="<%= navigator.mainHomeHash %>" class="ui blue basic button">Home</a>

  <a  href="#" class="ui blue basic button" id="main-layout-signout">Sign Out</a>

</div>

<br><br>

<div id="main-layout-content-container"></div>

<div id="<%= mainNoticeContainerId %>"></div>

<br><br><br>
