<div class="ui centered grid"><div class="column">
  <div class="haigy-text-align-center"><div class="haigy-display-inline-block haigy-width-100-percent haigy-width-max-700px haigy-text-align-left">

    <h3 class="ui header haigy-text-align-center">Haigy FAQ</h3>

    <br>

  	<div id="main-faq-content" class="ui styled fluid accordion">
      <div class="title active">
        <i class="dropdown icon"></i>
        What is Haigy Fruits & Veggies? How does it work?
      </div>
      <div class="content active">
        <p>Haigy is an online grocery store that provides grocery delivery service. Shopping with Haigy is easy, just a few clicks. Add your favorite items into cart, select a delivery time and checkout. Then Haigy will bring everything to you!</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        What makes Haigy unique?
      </div>
      <div class="content">
        <p>The focus on fruits and vegetables makes us unique. We are dedicated to providing higher quality and better delivery service of fruits and vegetables for our customers.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Haigy begins beta testing. What is it?
      </div>
      <div class="content">
        <p>The customer satisfaction is our first priority. Running a beta test could help us understand the needs of our customer better and help us serve our customers better in the future.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Any benefits for a beta testing user?
      </div>
      <div class="content">
        <p>Yes, as a beta testing user, you will get free deliveries. You will get 10% off of all fruits and vegetables, and you will get rewards for any feedbacks.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        What are your hours?
      </div>
      <div class="content">
        <p>In the beta testing stage, we only support one delivery time slot every day, 7pm to 9pm. However, we will support more delivery time in the future.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Where do you deliver?
      </div>
      <div class="content">
        <p>We temporarily only have delivery service in these California cities: Albany, Berkeley, Emeryville, and El Cerrito.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        How much does delivery cost?
      </div>
      <div class="content">
        <p>There is no delivery cost in the beta testing stage.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Why does Haigy buy some groceries from Whole Foods Market?
      </div>
      <div class="content">
        <p>We wish to keep lean and focused to provide our customers the best fruit and vegetable delivery service. However, we understood that it is convenient if our customers could buy everything on one shop. We decided to buy anything we don’t have from Whole Foods Market because of their quality of products. We wish our customers could get other groceries as good quality as fruits and vegetables they get from us.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        How are Whole Foods Market items priced on Haigy?
      </div>
      <div class="content">
        <p>In the beta test, the price is the same as the real time price of the Whole Foods Market's Berkeley store. However, there might be a small amount of the handling fee in the future.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        How do I return items?
      </div>
      <div class="content">
        <p>At this time, all items we bought for you from Whole Foods Market are not returnable except we made a mistake on your item. All other items are returnable. However, we temporarily only accept item returns at the time we deliver. </p>
      </div>
    </div>

    <br><br>

    <div class="haigy-text-align-center"><a id="main-faq-back" href="#">Click to go back</a></div>

  </div></div>
</div></div>