<i class="close icon"></i>

<div class="content">
  <div class="haigy-image-overlay">
    <img id="main-m-image-zoomer-image" class="ui image haigy-image-max-fluid" src="<%= imageSrc %>" alt="image">
  </div>
  <div class="haigy-image-loader">
    <img class="ui image haigy-image-max-fluid" src="<%= precompiledAsset.image.IMAGE_LOADER %>" alt="Loading ...">
  </div>
</div>
