<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Haigy Password Recovery</h1>
    <p>Dear <%= @user.nickname %>,</p>
    <br>
    <p>If you've requested a password recovery from <a href="https://haigy.com/" target="_blank">Haigy.com</a>, your temporary password is:</p>
    <p><%= @temporaryPassword %></p>
    <p>You may sign in <a href="https://haigy.com/" target="_blank">Haigy.com</a> with this temporary password within next <%= @temporaryPasswordLifetimeInMinutes %> minutes, and reset your password through the Account Management page.</p>
    <br>
    <p>If you've received this mail in error, it's likely that another user entered your email address by mistake while trying to reset a password. If you didn't initiate the request, you don't need to take any further action and can safely disregard this email.</p>
    <br>
    <p>Best,</p>
    <p>Haigy.com</p>
    <p><%= currentDateInPacificTime %></p>
  </body>
</html>