.haigy-video-youtube {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}


.haigy-video-youtube iframe,
.haigy-video-youtube object,
.haigy-video-youtube embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
